#title-font {
    font-family:'Kirang Haerang', cursive;
}

#hero-header {
    background-color: 363430;
}

#navbar-bottom {
    background-color: FFAA00;
}

#subtitle {
    color: #999999;
}

#spend-input {
    border: black;
}